---
layout: post
date:   ""
---

<h1>Buck Shlegeris</h1>

<div class="lead">
I am a software engineer from Australia. I have lived in San Francisco for most of the last three years. I'm interested in data structures and effective altruism. Here are some things that I've written recently:
</div>

{%for post in site.posts limit:8 %}
  <h2><a href="{{ post.url }}"> {{ post.title }}</a></h2>

  <p class="post-meta"><time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">{{ post.date | date: "%b %-d, %Y" }}</time>{% if post.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ post.author }}</span></span>{% endif %}</p>

  <div class="shrink-headings">
    {{ post.content }}
  </div>

  <hr />
{% endfor %}

<p><a href="/posts">All posts</a></p>

<p><a href="/feed.xml">RSS feed</a></p>

<script>
$(function() {
  $(".shrink-headings").map(function(idx, div) {
    $(div).html(
      $(div)
        .html()
        .replace(/<h4/g, "<h5")
        .replace(/<h3/g, "<h4")
        .replace(/<h2/g, "<h3")
    )
  })
})
</script>
