<!DOCTYPE html>
<html>
<head>
  <title>ANU timetable builder</title>
  <script src="./underscore.js"></script>
  <script src="./jquery.js"></script>
  <script src="./download.js"></script>
  <script src="./bootstrap.min.js"></script>
  <script src="./timetable.js" defer></script>
  <script src="./timetable_analyser.js"></script>
  <link rel="stylesheet" type="text/css" href="./bootstrap.css">
  <meta name="description" content="Intuitive timetable builder for the Australian National University.">
</head>
<body>

<div class="container">
  <div class="row">
    <div class="col-sm-3 col-md-2">
      <h1>timetable</h1>
    </div>

    <div class="col-sm-9 col-md-10">
      <div class="well">
        <input type="text" id="course-name" placeholder="course code to add">
        <button id="add-course" class="btn btn-default">add course</button>
        <button id="download" class="btn btn-primary">download as .ics</button>
        <div id="courses" style="display: inline;"></div>
      </div>
    </div>
  </div>

<div class="row">
  <div class="col-xs-12">
    <p id="math1115_ad" class="hidden"><a href="https://soundcloud.com/buckmbs/sets/buck-et-al" target="_blank">listen to the 1115 song</a></p>

    <table class="table table-striped table-condensed">
      <tbody>
        <table class="table table-striped table-condensed">
      <tbody>
        <tr>
          <td class="col-sm-1"></td>
            <th class="col-sm-2">mon</th>
            <th class="col-sm-2">tue</th>
            <th class="col-sm-2">wed</th>
            <th class="col-sm-2">thu</th>
            <th class="col-sm-2">fri</th>
        </tr>
        <tr class="timetable-row" data-hour="8" style='display:none'>
          <th>
            8:00
          </th>
            <td class="timeslot" data-hour="8" data-day="mon">
            </td>
            <td class="timeslot" data-hour="8" data-day="tue">
            </td>
            <td class="timeslot" data-hour="8" data-day="wed">
            </td>
            <td class="timeslot" data-hour="8" data-day="thu">
            </td>
            <td class="timeslot" data-hour="8" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="9">
          <th>
            9:00
          </th>
            <td class="timeslot" data-hour="9" data-day="mon">
            </td>
            <td class="timeslot" data-hour="9" data-day="tue">
            </td>
            <td class="timeslot" data-hour="9" data-day="wed">
            </td>
            <td class="timeslot" data-hour="9" data-day="thu">
            </td>
            <td class="timeslot" data-hour="9" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="10">
          <th>
            10:00
          </th>
            <td class="timeslot" data-hour="10" data-day="mon">
            </td>
            <td class="timeslot" data-hour="10" data-day="tue">
            </td>
            <td class="timeslot" data-hour="10" data-day="wed">
            </td>
            <td class="timeslot" data-hour="10" data-day="thu">
            </td>
            <td class="timeslot" data-hour="10" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="11">
          <th>
            11:00
          </th>
            <td class="timeslot" data-hour="11" data-day="mon">
            </td>
            <td class="timeslot" data-hour="11" data-day="tue">
            </td>
            <td class="timeslot" data-hour="11" data-day="wed">
            </td>
            <td class="timeslot" data-hour="11" data-day="thu">
            </td>
            <td class="timeslot" data-hour="11" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="12">
          <th>
            12:00
          </th>
            <td class="timeslot" data-hour="12" data-day="mon">
            </td>
            <td class="timeslot" data-hour="12" data-day="tue">
            </td>
            <td class="timeslot" data-hour="12" data-day="wed">
            </td>
            <td class="timeslot" data-hour="12" data-day="thu">
            </td>
            <td class="timeslot" data-hour="12" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="13">
          <th>
            13:00
          </th>
            <td class="timeslot" data-hour="13" data-day="mon">
            </td>
            <td class="timeslot" data-hour="13" data-day="tue">
            </td>
            <td class="timeslot" data-hour="13" data-day="wed">
            </td>
            <td class="timeslot" data-hour="13" data-day="thu">
            </td>
            <td class="timeslot" data-hour="13" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="14">
          <th>
            14:00
          </th>
            <td class="timeslot" data-hour="14" data-day="mon">
            </td>
            <td class="timeslot" data-hour="14" data-day="tue">
            </td>
            <td class="timeslot" data-hour="14" data-day="wed">
            </td>
            <td class="timeslot" data-hour="14" data-day="thu">
            </td>
            <td class="timeslot" data-hour="14" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="15">
          <th>
            15:00
          </th>
            <td class="timeslot" data-hour="15" data-day="mon">
            </td>
            <td class="timeslot" data-hour="15" data-day="tue">
            </td>
            <td class="timeslot" data-hour="15" data-day="wed">
            </td>
            <td class="timeslot" data-hour="15" data-day="thu">
            </td>
            <td class="timeslot" data-hour="15" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="16">
          <th>
            16:00
          </th>
            <td class="timeslot" data-hour="16" data-day="mon">
            </td>
            <td class="timeslot" data-hour="16" data-day="tue">
            </td>
            <td class="timeslot" data-hour="16" data-day="wed">
            </td>
            <td class="timeslot" data-hour="16" data-day="thu">
            </td>
            <td class="timeslot" data-hour="16" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="17">
          <th>
            17:00
          </th>
            <td class="timeslot" data-hour="17" data-day="mon">
            </td>
            <td class="timeslot" data-hour="17" data-day="tue">
            </td>
            <td class="timeslot" data-hour="17" data-day="wed">
            </td>
            <td class="timeslot" data-hour="17" data-day="thu">
            </td>
            <td class="timeslot" data-hour="17" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="18" style='display:none'>
          <th>
            18:00
          </th>
            <td class="timeslot" data-hour="18" data-day="mon">
            </td>
            <td class="timeslot" data-hour="18" data-day="tue">
            </td>
            <td class="timeslot" data-hour="18" data-day="wed">
            </td>
            <td class="timeslot" data-hour="18" data-day="thu">
            </td>
            <td class="timeslot" data-hour="18" data-day="fri">
            </td>
        </tr>
        <tr class="timetable-row" data-hour="19" style='display:none'>
          <th>
            19:00
          </th>
            <td class="timeslot" data-hour="19" data-day="mon">
            </td>
            <td class="timeslot" data-hour="19" data-day="tue">
            </td>
            <td class="timeslot" data-hour="19" data-day="wed">
            </td>
            <td class="timeslot" data-hour="19" data-day="thu">
            </td>
            <td class="timeslot" data-hour="19" data-day="fri">
            </td>
        </tr>
      </tbody>
    </table>
      </tbody>
    </table>

    <p>made with love by <a href="/">Buck Shlegeris</a>. Calendar downloads currently don't work in Safari. Please email other bugs to <a href="mailto:bshlegeris@gmail.com">Buck</a>.</p>
  </div>
</div>

<div class="modal fade" id="warningModal">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Are you sure you want to do that course?</h4>
      </div>
      <div class="modal-body">
        <p>It appears you have selected Discovering Engineering as a course. If you don't absolutely have to do ENGN1211, I sincerely urge you not to do so.</p>

        <p>The ANU needs to fulfill a bunch of bullshit requirements for their engineering program to be approved by Engineers Australia. Instead of polluting their other courses with this, they've decided to stick it all in this course.</p>

        <p>This means that Discovering Engineering is basically just a series of non sequiter random shit. Ethics! Sustainability! CAD! Teamwork! Project management! Accessibility! I don't have anything against any of those subjects, but it's not fun having random shitty slices of them thrown at you.</p>

        <p>Here are some real testimonials from other past students of Discovering Engineering:</p>

        <ul>
          <li>"My uni degree was one dreadful semester of discovering engineering and seven wonderful semesters undiscovering it."</li>
          <li>"I'm left to assume that one discovers engineering in the same way one discovers a malignant tumour."</li>
          <li>"ENGN1211 and its ilk drove me away from engineering."</li>
          <li><small><a href="mailto:bshlegeris@gmail.com">email me yours</a></small></li>
        </ul>

        <p>So are you really sure?</p>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-warning confirmDE" data-dismiss="modal">Yes, I'm a fuckwit.</button>
        <button type="button" class="btn btn-warning confirmDE" data-dismiss="modal">I'm an engineer, I have no choice.</button>
        <button type="button" class="btn btn-success" data-dismiss="modal">No, I'll do something else</button>
      </div>
    </div><!-- /.modal-content -->
  </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-52980069-1', 'auto');
  ga('send', 'pageview');

</script>

</div>

<script type="text/template" id="cal-header">
BEGIN:VCALENDAR
PRODID:-//Google Inc//Google Calendar 70.9054//EN
VERSION:2.0
CALSCALE:GREGORIAN
METHOD:PUBLISH
X-WR-CALNAME:ANU Semester 1
X-WR-TIMEZONE:Australia/Sydney
X-WR-CALDESC:This is the classes for semester 1.

</script>

<script type="text/template" id="event-template">
BEGIN:VEVENT
DTSTART;TZID=Australia/Sydney:201502<%= first_day %>T<%= padded_hour %>0000
DTEND;TZID=Australia/Sydney:201502<%= first_day %>T<%= padded_end_hour %>0000
RRULE:FREQ=WEEKLY;COUNT=15;BYDAY=<%= day.slice(0,2).toUpperCase() %>
EXDATE;TZID=Australia/Sydney:201504<%= holiday2 %>T<%= padded_hour %>0000
EXDATE;TZID=Australia/Sydney:201504<%= holiday1 %>T<%= padded_hour %>0000
DTSTAMP:20150119T180209Z
CREATED:20150119T172444Z
DESCRIPTION:<%= description %>
LAST-MODIFIED:20150119T172540Z
LOCATION:<%= location %>
SEQUENCE:1
UID:buck_anu2015s1_<%= id %>
STATUS:CONFIRMED
SUMMARY:<%= course %>
TRANSP:OPAQUE
END:VEVENT
</script>

<script type="text/template" id="compulsary-event-template">
  <div class='lesson' data-eventtype='compulsary'
    data-name='<%= item.name %>' data-id='<%= item.id %>'>
    <p>
      <strong><%= item.name %></strong>.
      <em><%= item.location %></em>.
      <%= item.info %>
    </p>
  </div>
</script>

<script type="text/template" id="group-event-template">
  <div class='lesson' data-eventtype='group'
    data-group='<%= item.name + filterNumbers(item.info) %>'
    data-name='<%= item.name %>' data-id='<%= item.id %>'>
    <p>
      <strong><%= item.name %></strong>.
      <em><%= item.location %></em>.
      <%= item.info %>
      <a class="choose">(choose)</a>
    </p>
  </div>
</script>

</body>
</html>