---
layout: default
---
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-xs-offset-1">
      <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
      <p class="post-meta"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</p>

      <hr/>

      {{ content }}

    </div>
    <div class="col-xs-3 col-xs-offset-1">
      <img src="https://scontent-sjc2-1.xx.fbcdn.net/hphotos-xtp1/t31.0-8/11154688_10205041372168719_3725604149367069581_o.jpg" class="img-responsive" alt="Picture of Buck">
      <hr/>
      <a href="/">Buck Shlegeris</a>
      <hr/>
      <p>Other posts</p>
      <ul>
        {% for post in site.posts %}
          <li>
            <a class="arrow" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
          </li>
        {% endfor %}
      </ul>

      <p><a href="/feed.xml">RSS feed</a></p>
    </div>
  </div>
</div>
